version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: hr_backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    container_name: hr_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
